services:
  spring:
    container_name: spring_app
    build:
      context: ./server
    ports:
      - "8080:8080"
    env_file:
      - ./server/.env
    environment:
      SPRING_PROFILES_ACTIVE: prod
      SPRING_DATA_MONGODB_URI: mongodb://ai_mongo:27017/OneBitArticle
      FASTAPI_URL: "http://ai_backend:8000/generate_daily_gpt_results"
    depends_on:
      - backend
      - ai_mongo     # MongoDB 의존성 추가
    networks:
      - ai_network

  backend:
    container_name: ai_backend
    build:
      context: ../oba_ai_service
    ports:
      - "8000:8000"
    env_file:
      - ../oba_ai_service/.env
    networks:
      - ai_network
    command: [
      "uvicorn",
      "app:app",
      "--host", "0.0.0.0",
      "--port", "8000",
      "--reload"
    ]

  ai_mongo:
    image: mongo:7.0
    container_name: ai_mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    environment:
      MONGO_INITDB_DATABASE: OneBitArticle
    networks:
      - ai_network

networks:
  ai_network:
    driver: bridge

volumes:
  mongo_data:
